@{
    ViewData["Title"] = "Home Page";

    int sum = Model.Sum(m => m.Amount);
    string conclusion = (sum > 10000000) ? "You earn too much money" : "You should ask for a salary raise";

}


<div class="container">
    @conclusion
</div>
